.home_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    min-height: 50px;
    width: 100%;
    .total {
      color: #f00;
      font-size: 12px;
      padding-left: 8px;
    }
  }

  .body {
    flex: 1;
    overflow-y: auto;
    .list_view {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 8px;
    }
  }
}

.Empty {
  margin-top: 100px;
}
